@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  line-height: 1.6;
}

nav {
  background-color: #E5E5E5;
  padding: 4rem 0rem 0.5rem 0;
}
nav .logo {
  height: 90px;
}
nav .hamburger {
  display: none;
}
nav #navigation {
  width: 78%;
  margin-left: 13%;
}
nav #navigation .navlinks {
  margin-left: -8%;
  margin-top: 4%;
}
nav #navigation .navlinks .navlink {
  list-style: none;
  justify-content: space-between;
}
nav #navigation .navlinks .navlink a {
  color: #008753;
  text-decoration: none;
}

.carousel {
  padding: 3rem 0;
}
.carousel img {
  width: 100%;
}

.posts {
  padding: 5rem 2rem 5rem 2.7rem;
  background-color: #fff;
}
.posts h1 {
  margin-bottom: 2.5rem;
}
.posts .card {
  border-radius: 30px;
  border: none;
  overflow-x: hidden;
  box-shadow: 0 5px 10px rgba(94, 84, 84, 0.2);
}
.posts .card img {
  max-height: 450px;
}
.posts .card .card-body {
  padding: 2rem;
}
.posts .card .card-body .month {
  background-color: #957FEF;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.posts .card .card-body h4 {
  font-weight: 600;
  width: 90%;
  margin: 1.5rem 0;
}
.posts .card .card-body .date {
  color: #6096BA;
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}

.video {
  padding: 4rem 2rem;
}

.ads {
  background-color: #fff;
  padding: 3rem 2rem;
}
.ads img {
  width: 100%;
}

.brief-intro {
  background-color: #E5E5E5;
  padding: 3rem 2rem;
}
.brief-intro .card {
  background-color: #fff;
  padding: 2rem;
  max-height: 400px;
  border-radius: 16px;
}
.brief-intro .card p {
  font-weight: 18px;
}
.brief-intro .card span {
  background-color: #FCAB64;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
}

footer {
  background-color: #008753;
  color: #fff;
  padding: 3rem 1.5rem;
}
footer .logo {
  width: 200px;
  height: 200px;
}
footer .contact-header {
  padding-left: 2.5rem;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
footer ul li {
  display: flex;
  align-items: start;
  padding: 0.5rem 1rem;
}
footer ul li span {
  margin-left: 8px;
}
footer form .form-control {
  border: 1px solid #fff;
  padding: 1rem 1.5rem;
  background-color: transparent;
}
footer form button {
  margin-top: 1.3rem;
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  color: #008753;
  border: none;
  border-radius: 8px;
}

.post {
  padding: 3rem 2rem;
}
.post h1 {
  margin: 2rem 0;
}
.post .post-image {
  width: 100%;
  height: 470px;
  object-fit: fill;
}
.post .article {
  align-items: flex-start;
  padding-top: 1.2rem;
}
.post .article .article-image {
  height: 300px;
  object-fit: contain;
}
.post .article .content {
  margin-left: 1rem;
}
.post .article h5 {
  padding: 1rem 0;
}

.gallery {
  padding: 3rem 2rem;
}
.gallery .gallery-image {
  height: 398px;
  object-fit: contain;
}

.local-government {
  padding: 3rem 2rem;
}
.local-government .bg {
  background-color: #fff !important;
  border-radius: 16px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgba(94, 84, 84, 0.2);
}
.local-government .card {
  height: 800px;
  border-radius: 32px;
  border: none;
  box-shadow: 0 5px 10px rgba(94, 84, 84, 0.2);
}
.local-government .card .cardinal-image {
  width: 100%;
  height: 450px;
  object-fit: fill;
}
.local-government .card .card-body {
  padding: 1.5rem 1rem;
}
.local-government .card .card-body span {
  background-color: #FCAB64;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.local-government .card .card-body p {
  padding-top: 1.5rem;
}
.local-government .lg-list li {
  font-size: 1.2rem;
}

.contact-us {
  padding: 3rem 2rem;
}
.contact-us .bg {
  background-color: #fff !important;
  border-radius: 16px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgba(94, 84, 84, 0.2);
}
.contact-us form label {
  margin: 1rem 0;
}
.contact-us form .form-control {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 576px) {
  nav {
    background-color: #E5E5E5;
    padding: 2rem 0rem;
  }
  nav .nav-container {
    width: 100%;
    flex-wrap: wrap;
  }
  nav .nav-container .logo {
    height: 40px;
  }
  nav .nav-container .hamburger {
    display: block;
  }
  nav .nav-container #navigation {
    display: none;
    width: 100%;
    margin-left: 0;
    margin-top: 8%;
    -webkit-transition: transform 1s ease-out, visibility 1s;
    -moz-transition: transform 1s ease-out, visibility 1s;
    -o-transition: transform 1s ease-out, visibility 1s;
    -ms-transition: transform 1s ease-out, visibility 1s;
    transition: transform 1s ease-out, visibility 1s;
  }
  nav .nav-container #navigation .navlinks {
    flex-direction: column;
  }
  nav .nav-container #navigation .navlinks .navlink {
    margin: 0.5rem 1rem;
  }

  .posts {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .gallery .gallery-image {
    height: 260px;
  }

  .local-government {
    padding: 3rem 1rem;
  }
  .local-government .card {
    height: fit-content;
  }
  .local-government .card .cardinal-image {
    height: 200px;
  }
}